<header class="header">
  <div class="header-container">
    <div class="header-img">
      <img src="" alt="">
    </div>
    <nav class="header-nav">
      <ul class="header-nav__list">
        <li class="header-nav__list--item">Lorem ipsum</li>
        <li class="header-nav__list--item">Lorem ipsum</li>
        <li class="header-nav__list--item">Lorem ipsum</li>
        <li class="header-nav__list--item">Lorem ipsum</li>
        <li class="header-nav__list--item">Lorem ipsum</li>
      </ul>
    </nav>
  </div>
</header>