extends ./template/template-pug

block content
  h2 Welcome to my page
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat, sapien a finibus ultricies, quam metus aliquet sapien, id sollicitudin felis nulla sit amet tortor. Sed in lacus vitae magna dictum feugiat ac ac sapien.