$deep-blue : #335AA4;
$mid-blue: #335AA4;
$light-blue: #3359A0;
$white:#FFFFFF;
$light-gray: #F0F1F3;
$mid-gray:#C9C9C9;
$deep-gray: #707070;
$light-yellow: #F3BA40;
$mid-yellow: #EACA77;
$deep-yellow: #E4B73F;